{% extends 'layoutAdmin.html.twig' %}

{% block title %}
    Catégories de plats - {{ parent() }}
{% endblock %}

{%  block page_title %}
    Catégories de plats
{%  endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-dark btn-lg mx-auto d-block button_dishCategory button_dishCategory_add" ><a href="/admin/categorie-plats/ajouter">Ajouter</a></button>
        </div>
    </div>
    {% for dishCategory in dishCategories %}
        <div class="row dishCategory">
            <div class="col-sm-6 offset-1">
                {{ dishCategory.namePageHome }}
            </div>
            <div class="col-sm-2 col_dish">
                <button type="button" class="btn btn-dark mx-auto d-block button_dishCategory" ><a href="">Modifier</a></button>
            </div>
            <div class="col-sm-3 col_dish">
                <button type="button" class="btn btn-dark mx-auto d-block button_dishCategory" ><a href="">Supprimer</a></button>
            </div>
        </div>
    {% endfor %}
{% endblock %}