{% block contact %}
            <div class="row text-center contact_details mt-4">
                <div class="col-lg-4 align-self-center">
                    <table class="table table-sm table-borderless">
                        <tbody>
                                {% for contact in contacts %}
                                    <tr>
                                        <td>Adresse : {{ contact.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ contact.zipcode }} - {{ contact.city }}</td>
                                    </tr>
                                    <tr>
                                        <td>Téléphone : {{ contact.phonenumber }}</td>
                                    </tr>
                        {% endfor %}
                            </tbody>
                    </table>
                </div>
                <div class="col-lg-4 align-self-center">
                    <img class="img-fluid" src="/assets/images/label_AB.jpg" alt="label bio">
                </div>
                <div class="col-lg-4 align-self-center">
                </div>
            </div>
{% endblock %}