{% extends 'layout.html.twig' %}

{% block page_title%}<h1 class="dishes text-center">Nos plats et desserts</h1>{% endblock %}

{% block content %}
    <p class="dishes_concept text-center">Notre philosophie inspirée du mouvement <span class="concept">Slow Food</span>.</p>
    <p class="dishes_concept concept_food text-center"><span class="concept">BON </span>(goûteux), <span class="concept">PROPRE </span>(soucieux de l’environnement) et <span class="concept">JUSTE </span>(respect du producteur).</p>
{% endblock %}