<footer>
    <div id="pages">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="" >PLATS & DESSERTS</a></li>
                    <li><a href="" >PARTENAIRES</a></li>
                    <li><a href="" >MENTIONS LEGALES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
