body {
    font-family: "PT Serif", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-image:url(../images/low_contrast_linen_@2X.png);
    padding-top: calc(1vh + 48pt);
}

section header {
    margin-bottom: 50px;
}

.logo{
    width: 150px;
}

nav.navbar {
    font-family: "PT Serif", serif;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9998;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 0;
    padding-bottom: 0;
    background: #222222;
}

nav.navbar .nav-link {
    color: #FFFFFF;
    letter-spacing: 0.08rem;
    font-size: 1.2rem;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid transparent;
}

nav.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

nav.navbar .nav-link:hover {
    color: #7fb401;
    border-color: #7fb401;
}

nav.navbar .nav-link.active {
    color: #7fb401;
    border-color: #7fb401;
}

nav.navbar .navbar-toggler {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

nav.navbar .navbar-btn.btn-unique, nav.navbar .navbar-btn.btn-unique-reverse, nav.navbar .navbar-btn.btn-unique-white {
    margin-left: 10px;
    font-size: 0.9rem;
}

nav.navbar.shrink .nav-link {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width: 991.98px) {
    nav.navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav.navbar .nav-link {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        border: none;
    }

}

/* Carousel */
.slideShow {
    box-shadow: 10px 10px 20px #1C1C1C;
    margin-bottom: 1em;
}

.carousel-item img {
    max-height: 50vh;
}

/* sentence_concept Section */
h1 {
    font-family: "Dancing Script", cursive !important;
    font-size: calc(2.6vw + 6pt);
    padding-bottom: 1em;
}

div.container.bg {
    padding-top: 3vh;
    margin-bottom: 3vh;
    margin-top: 4vh;
    background-color: white;
    box-shadow: 1px 1px 200px black;
    background-image:url(../images/paper.png);
}


/* dishes section */
.dishes_concept {
    font-size: calc(0.77vw + 6pt);
    color: black;
    line-height: 1;
}

.concept_food {
    padding-bottom: 1em;
}

.concept {
    color: #7fb401;
    font-weight: bold;
}

hr {border:1px dashed #7fb401;width:50%;}

/* Banner grower */
.banner-grower {
    background-image: url("../images/produits-bio-produits-locaux.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.banner-grower p {
    font-size: calc(0.3vw + 13pt);
    width:50%;
    background-image:url("../images/paper.png");
    transform: skewX(-15deg);
}

@media (max-width: 760px) {
    .banner-grower {
        padding-bottom: calc(1vh + 30%);
    }

    .banner-grower > p {
        transform: skewX(0deg);
        width: 100%;
    }
}

/* contact_details section */
.contact_details{
    background-color: #7fb401;
    color: #ffffff;
    padding-top: 0.5em;
}

.contact_details .col-lg-4{
    padding-bottom: 0.5em;
}

/* categories Home */
.category-home {
    margin: auto;
    position: relative;
    padding:0;
    width: 210px;
    height: 210px;
    border: 1px double #7fb401;
}

.category-home p {margin:0;display: table;}

.category-home .name {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
    font-size: calc(1.5vh + 13pt);
    letter-spacing: 3px;
    background-color: rgba(255,255,255,0.6);
    color: #000;
    text-shadow: 1px 1px #999999;
}

.category-home .name:hover {
    background-color: rgba(255,255,255,0);
    text-decoration: underline;
    text-shadow: none;
}

.category-home .name:hover span {display: none;}

h2 {
    font-family: "Dancing Script", cursive !important;
    font-size: calc(1.5vw + 14pt);
    padding-bottom: 1em;
}

/* footer */
footer h3{
    font-family: "PT Serif", serif;
    color: #7fb401;
    padding-top: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
}

footer h4{
    font-family: "PT Serif", serif;
  color: #7fb401;
}

footer img {
    height: 18.75rem;
    width: 28.125rem;
    padding-left: 0.625rem;
}

footer {
    background-color: #222222;
}
  
footer li{
    list-style-type: none;
}
  
footer #pages li{
    margin-bottom: 30px;
}
  
footer li a {
    font-family: "PT Serif", serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: #fff;
}
  
footer li a::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #7fb401;
}
  
footer li a:hover {
    text-decoration: none;
    color: #7fb401;
}
footer #coordonnees {
    font-family: "PT Serif", serif;
    color: white;
}
footer address a {
    color: white;
}
footer address a:hover {
    color: #7fb401;
}
footer a img{
    height: 6.25rem;
    width: 6.25rem;
}
@media screen and (max-width: 375px)
{
    footer img {
        margin-bottom: 1.25rem;
        height: 15.625rem;
        width: 22.8125rem;
    }
}
