body {
    font-family: "PT Serif", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-image:url(../images/low_contrast_linen_@2X.png);
    padding-top: calc(1vh + 48pt);
}

section header {
    margin-bottom: 50px;
}

.logo{
    width: 150px;
}

nav.navbar {
    font-family: "PT Serif", serif;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9998;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 0;
    padding-bottom: 0;
    background: #222222;
}

nav.navbar .nav-link {
    color: #FFFFFF;
    letter-spacing: 0.08rem;
    font-size: 1.2rem;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid transparent;
}

nav.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

nav.navbar .nav-link:hover {
    color: #7fb401;
    border-color: #7fb401;
}

nav.navbar .nav-link.active {
    color: #7fb401;
    border-color: #7fb401;
}

nav.navbar .navbar-toggler {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

nav.navbar .navbar-btn.btn-unique, nav.navbar .navbar-btn.btn-unique-reverse, nav.navbar .navbar-btn.btn-unique-white {
    margin-left: 10px;
    font-size: 0.9rem;
}

nav.navbar.shrink .nav-link {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width: 991.98px) {
    nav.navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav.navbar .nav-link {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        border: none;
    }

}

/* Carousel */
.slideShow {
    box-shadow: 10px 10px 20px #1C1C1C;
    margin-bottom: 1em;
}

.carousel-item img {
    max-height: 50vh;
}

/* sentence_concept Section */
h1 {
    font-family: "Dancing Script", cursive !important;
    font-size: calc(2.6vw + 6pt);
    padding-bottom: 1em;
}

div.container.bg {
    padding-top: 3vh;
    background-color: white;
    box-shadow: 1px 1px 200px black;
    background-image:url(../images/paper.png);
}

/* back-end */
.container-admin {
    background-color: #FFF;
}