/* Carousel */
.slideShow {
    box-shadow: 10px 10px 20px #1C1C1C;
    margin-bottom: 2em;
}

.carousel-item img {
    max-height: 50vh;
}

/* sentence_concept Section */
h1 {
    font-family: "Dancing Script", cursive !important;
    font-size: calc(2.8vw + 5pt);
}

body {
    background-image:url(../images/low_contrast_linen_@2X.png);
}

div.container.bg {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: white;
    box-shadow: 1px 1px 200px black;
    background-image:url(../images/paper.png);
}
